<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/iphon.css">
</head>
<body>
    
<button onclick="location.href='/index'">back</button>
<div class="section">
    <div class="left-section">
        <img class="img-iphon" src="/titaniumiphon.webp" alt="">
    </div>
    <div class="right-section">
        <div class="color-iphon">
            <button id="titanium" class="titanium-iphon"></button>
            <button class="black-iphon"></button>
            <button class="white-iphon"></button>
        </div>
<div class="info">
    <p class="price">62 499₴</p>
    <button class="buy">Купити</button>
    <button class="buy-kredit">Купити в кредит</button>
</div>
    </div>
</div>

</body>
</html>