body{
    background: black;
}
.wrapper {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 100px;
    display: flex;
}
.card {
    width: 100px;
    height: 150px;
}
.img {
width: 100px;
height: 100px;
background: grey;
}
.info-name {
color: white;
}
.info-txt {
    color: white;
}
.button-buy{
    width: 70px;
    height: 20px;
    background-color: green;
    color: white;
    border-radius:30px ;
    cursor: pointer;
}